AppSettings:
  SiteTitle: This is the common application file
  CacheDbResults: true
Logging: 
  IncludeScopes: false
  LogLevel: 
    Default: Debug
    System: Information
    Microsoft: Information
eureka:
  client:
   
eureka:
  client:
    serviceUrl:
      defaultZone: https://csi-svr-stg-gateway-01.run.aws-usw02-pr.ice.predix.io/eureka/
    registerWithEureka: true
    fetchRegistry: true
    healthcheck:
      enabled: true
  instance:
    preferIpAddress: false
  server:
    enableSelfPreservation: false
mysql:
  client:
    server: localhost
redis:
  client:
    host: localhost
 zuul:
  routes:
    eureka:
      path: /eurekaServer/**
      url: https://csi-svr-stg-gateway-01.run.aws-usw02-pr.ice.predix.io
    configServer:
      path: /configserver/**
      url: http://csi-svr-configsv-01.csi-servers:8888
    LAB01:
      path: /patients/**
      serviceId: CSI-NET-PATIENTS-01
